<h1>Student Sign Up</h1>
<%= form_for @student do |f|%> 
<%= f.label :first_name%><br> 
<%= f.text_field :first_name%><br> 
<%= f.label :last_name%><br>  
<%= f.text_field :last_name%><br> 
<%= f.label :roll_no%><br>
<%= f.text_field :roll_no%></br>  
<%= f.label :Email%><br>  
<%= f.text_field :email_id%><br>  
<%= f.label :"password"%><br>  
<%= f.password_field :password%><br> 
<br /> 
<%= f.submit :Submit %>
<%end%>
<br />
<%= button_to "Back", welcome_path, method: :delete %>